<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.CountryMapper">
	<!-- id는 Mapper interface에서 생성한 매소드 이름-->
	<select id="selectCountryList" resultType="com.gd.sakila.vo.Country" parameterType="com.gd.sakila.vo.PageParam">
		SELECT
			country_id countryId,
			country country,
			last_update lastUpdate
		  FROM
		  	country
		 LIMIT
		 	${beginRow},${rowPerPage}
	</select>
</mapper>