<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.FilmMapper">
	<select id="selectFilmInStock" statementType="CALLABLE" parameterType="java.util.Map" resultType="int">
		{
			call film_in_stock(
				#{filmId},
				#{storeId},
				#{filmCount, mode=OUT, jdbcType=DECIMAL, javaType=Integer}
			)
		}
	</select>
	
	<select id="selectFilmOneByKey" resultType="com.gd.sakila.vo.Film" parameterType="int">
		SELECT 
			film_id filmId,
			title,
			description,
			release_year releaseYear,
			language_id languageId,
			original_language_id originalLanguageId,
			rental_duration rentalDuration,
			rental_rate rentalRate,
			length,
			replacement_cost replacementCost,
			rating,
			special_features specialFeatures,
			last_update lastUpdate
		FROM film 
		WHERE film_id = #{filmId}
	</select>
</mapper>