<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.FilmListViewMapper">
	<select id="selectFilmList" parameterType="hashmap" resultType="com.gd.sakila.vo.FilmListView">
		SELECT *
		FROM film_list
		<where> <!-- 해당 방식은 if문마다 mubatis가 자동으로 AND를 넣어준다, 개발자가 넣어준 경우 AND를 알아서 지운다(맨 앞에 AND가 올 경우) -->
			<if test="searchWord != null and searchKind == 'title'">
				title LIKE CONCAT('%',#{searchWord},'%')
			</if>
			<if test="searchWord != null and searchKind == 'actors'">
				actors LIKE CONCAT('%',#{searchWord},'%')
			</if>
			<if test="category != null">
				AND category = #{category}
			</if>
			<if test="price != null">
				AND price = #{price}
			</if>
			<if test="rating != null">
				AND rating = #{rating}
			</if>
		</where>
		ORDER BY title
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectFilmTotal" parameterType="hashmap" resultType="Integer" ><!-- myBatis동적쿼리 -->
		SELECT COUNT(*) FROM film_list
		<where>
			<if test="searchWord != null and searchKind == 'title'">
				title LIKE CONCAT('%',#{searchWord},'%')
			</if>
			<if test="searchWord != null and searchKind == 'actors'">
				actors LIKE CONCAT('%',#{searchWord},'%')
			</if>
			<if test="category != null">
				AND category = #{category}
			</if>
			<if test="price != null">
				AND price = #{price}
			</if>
			<if test="rating != null">
				AND rating = #{rating}
			</if>
		</where>			
	</select>
	
	<select id="selectCategory" resultType="String">
		SELECT DISTINCT category
		FROM film_list 
		ORDER BY category
	</select>
	
	<select id="selectPrice" resultType="double">
		SELECT DISTINCT price 
		FROM film_list 
		ORDER BY price
	</select>
	
	<select id="selectRating" resultType="String">
		SELECT DISTINCT rating 
		FROM film_list
		ORDER BY rating
	</select>

</mapper>